.products__filters_list {
  padding-bottom: 48px;
  @media screen and (min-width: 350px) {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

.btn {
  display: block;
  height: 40px;
  padding: 0px 16px;
  margin-bottom: 16px;
  margin-right: auto;
  margin-left: auto;

  border-radius: 36px;
  border: 1px solid #464646;
  box-shadow: 0px 4px 24px -4px rgba(0, 0, 0, 0.16);

  color: #181818;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.37;

  @media screen and (min-width: 350px) {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;
    height: 32px;
    margin: 0;
  }
  @media screen and (min-width: 1440px) {
    height: 48px;
    padding: 0px 24px;
  }
}

.btn_active {
  display: block;
  height: 40px;
  padding: 0px 16px;
  margin-bottom: 16px;
  margin-right: auto;
  margin-left: auto;

  border-radius: 36px;
  border: 1px solid #464646;
  box-shadow: 0px 4px 24px -4px rgba(0, 0, 0, 0.16);
  background: linear-gradient(to bottom right, #181818 0%, #464646 50%) bottom
      right / 50% 50% no-repeat,
    linear-gradient(to bottom left, #181818 0%, #464646 50%) bottom left / 50%
      50% no-repeat,
    linear-gradient(to top left, #181818 0%, #464646 50%) top left / 50% 50%
      no-repeat,
    linear-gradient(to top right, #181818 0%, #464646 50%) top right / 50% 50%
      no-repeat;

  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.37;

  @media screen and (min-width: 350px) {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;
    height: 32px;
    margin: 0;
  }
  @media screen and (min-width: 1440px) {
    height: 48px;
    padding: 0px 24px;
  }
}
